.slide-number {
	position: fixed;
	display: block;
	right: 1.75rem;
	bottom: 1.75rem;
	z-index: 31;
  padding: 0;
  text-align: right;
  @include font(heading, bolder);
	font-size: 1.5rem;
	line-height: 1;
	color: rgba(gray(0), 0.7);
	background-color: transparent;
}

.slide-number-delimiter {
	margin: 0 3px;
}
